<launch>

    <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" >
    	<arg name="port" value="9090"/>
  	</include>

  	<!-- Global variables here -->
    <param name="/sar/global/_p_sar_core_dir" type="str" value="$(find sar_core)" />
    <param name="/sar/global/_child_name" type="str" value="Eliza" />
    <param name="/sar/global/_guardian_name" type="str" value="Paul" />

    <node pkg="sar_core" type="session_manager.py" name="session_manager" output="screen">
        <param name="_g_day" type="int" value="0" />
    </node>
  	<node pkg="sar_robot_translation" type="robot_translation_node.py" name="robot_translation_node" output="screen" />
  	<node pkg="sar_core" type="robot_command_verifier.py" name="robot_command_verifier" output="screen" />
</launch>
